@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

/* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
html {
  padding-left: calc(100vw - 100%);
}

@layer base {
  body {
    @apply text-base;
    @apply text-primary;
    @apply bg-primary;
    @apply antialiased;
  }

  a {
    @apply focus-visible-ring;
    @apply break-words;
  }

  b,
  strong {
    @apply font-semibold;
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23737373' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }

  .im-multiselect .mantine-MultiSelect-searchInput {
    @apply bg-gray-50;
  }

  /* Hack because it doesn’t seem to work in Tailwind */
  .disabled {
    cursor: not-allowed;
    opacity: 50%;
    background-color: slate;
  }

  ::-webkit-datetime-edit {
    @apply text-stone-400;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:ring-2;
    @apply focus:outline-none;
    @apply focus:ring-offset-0;
    @apply focus:ring-blue-200;
    @apply focus:border-blue-500;
    @apply focus:shadow-none;
  }

  .focus-visible-ring {
    @apply focus-visible:ring-2;
    @apply focus-visible:outline-none;
    @apply focus-visible:ring-offset-0;
    @apply focus-visible:ring-blue-200;
    @apply focus-visible:border-blue-500;
    @apply focus-visible:shadow-none;
  }

  .link {
    @apply cursor-pointer;
    @apply hover:opacity-80;
    @apply underline;
  }

  .hint {
    @apply underline;
    @apply decoration-dotted;
  }
}

